h1{
    color:#38ECBB  ;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 320px;
    -webkit-text-stroke: 2px black;
}

body{
    background-image: url(imagenes/cifrado-GDPR.jpg);
    background-size: 100%;
}

main{
    display: block;
    margin-top: 50px;
    margin-left: 200px;
}

.entrada-texto{
    color:green;
    font-style: ;
    border-radius: 10px;
    box-shadow: 0 0 70px black;
    background-color: black;
    border: none;
    font-family: 'Press Start 2P', cursive;
}

.entrada-texto placeholder{
    color: green;
}

::placeholder{
    color: green;
}

.sectiondos{
    margin-top: 30px;
}

.mensaje{
    color: green;
    border-radius: 10px;
    box-shadow: 0 0 70px black;
    background-color: black;
    border: none;
    font-family: 'Press Start 2P', cursive;
    
}

.botones{
   margin-top: 10px;
}


#encriptar,#desencriptar{
    margin-left: 50px;
    margin-top: 10px;
}

.esteticabotones{
    color: white;
    transition: 1s all;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border-width: 2px;
    font-weight: bolder;
    cursor: pointer;
    border-color:green;
}

.esteticabotones:hover{
    background-color: green;
    transform: scale(1.1);
    
}

#copiar{
    margin-left: 23%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.mensaje{
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    background-image: url("imagenes/lupa1.jpg") ;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
    
}